# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
next-env.d.ts.bak

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo

# production
build
dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local
.env
!.env.example

# misc
.DS_Store
*.pem
.vercel
.idea
.vscode

# claude
.claude/
